<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>Raahat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
<style type="text/css">
body{
  background-image: url("http://jacobswellappeal.org/wp-content/uploads/2014/11/donate-medicines.jpg");
  background-size:cover;
  }
  .text.container.segment{
    margin-top: 7em ;
    border: 2px solid white;
}
img{
  height: 300px;
  width: 300px;
}
#delete{
    display:inline;
}
.huge.header{
    text-align:center;
    font-family:georgia;
    color: purple;
    font-size: 500em;
}
</style>    

</head>

<body >
   <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="certificate icon"></i>Raahat</a></div>
              
                 <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        
                         <a href="/logout" class="item"  style="float: right">Logout</a>
                </ul>
            </div>
              </div></div>

 <div class="ui main text container segment" style=" background-color: rgb(255,250,205); ">
        <div class="ui huge header" style="color: green">By Cost</div>
        <div class="ui top attached ">
                <div class="ui divided items">
                    <% byCost.forEach(function(item){ %>
                    <div class="item">
                        
                         <img src="<%= item.image%>">
                         <div style="display: inline; margin-left: 20px; margin-top: 10px">
                           <p>Name: <%= item.name %></p>
                           <p  style="font-weight: 2.5em">Expiry Date <%= item.expiryDate %> </p>
              <p style="font-weight: 2.5em">Cost: Rs. <%= item.cost %></p>

              <p style="font-weight: 2.5em">Sold by: <%= item.username.username %></p>
             
              <a href="/<%=item.username.id%>/<%=item._id%>/<%=item.name%>/upload" class="ui button red inverted" style="display: inline">BUY ME</a>
                         </div>
                        
                    </div>
 
        
        <hr/>
        <%});%>
                
            </div>
        </div>
        
        </div>

 <div class="ui main text container segment" style=" background-color: rgb(255,250,205); ">
    <div class="ui huge header" style="color: green">By Exp Date</div>
    <div class="ui top attached ">
            <div class="ui divided items">
                <% byDate.forEach(function(item){ %>
                <div class="item">
                    
                     <img src="<%= item.image%>">
                     <div style="display: inline; margin-left: 20px; margin-top: 10px">
                       <p>Name: <%= item.name %></p>
                       <p  style="font-weight: 2.5em">Expiry Date <%= item.expiryDate %> </p>
          <p style="font-weight: 2.5em">Cost: Rs. <%= item.cost %></p>
          <a href="/<%=item.username.id%>/<%=item._id%>/<%=item.name%>/upload" class="ui button red inverted" style="display: inline">BUY ME</a>
              
                     </div>
                    
                </div>

    
    <hr/>
    <%});%>
            
        </div>
    </div>
    
    </div>
        <% include partials/footer%>